{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<section  style="height:50%; font-size: 1.8rem;">
<div id="Healthy">
    <h3 style="color: palevioletred; font-size:2.5rem;">We Take Care Of Your Healthy Life</h3>
<br>
    <p>Maintaining good health will ultimately lead to a happy mind which is more valuable than any precious gift in today’s life. 
        Having a healthy life must be a part of everyone’s lifestyle.
                If one has a healthy and happy mind, then one will always stay motivated towards one’s work and will be productive at work.</p><br>
            
    <p>Maintaining good health will ultimately lead to a happy mind which is more valuable than any precious gift in today’s life. 
        Having a healthy life must be a part of everyone’s lifestyle.
                If one has a healthy and happy mind, then one will always stay motivated towards one’s work and will be productive at work.</p>
</div>
<br>
</section>

<section  style="height:50%; font-size: 1.8rem;">
<div id="work">
    <h3  style="color: palevioletred; font-size:2.5rem;">Doctors at work</h3><br>
    <p>
1. Dr. Siddhartha Mukherjee – Biologist.<br>
2. Dr. Naresh Trehan – cardiothoracic surgeon.<br>
3. Dr. Sudhansu Bhattacharyya – Cardiac surgeon.<br>
4. Dr.  Surbhi Anand – Endodontist.<br>
5. Dr. Ashish Sabharwal- Urologist.</p>
</div><br>
<div id="Patients">
    <h3  style="color: palevioletred; font-size:2.5rem;">Satisfied Patients</h3><br>
    <p>Patients and staff satisfaction is an important component of the health care industry.About the performance of staff, 
appointment system,behavior of staff,support service and any other suggestions of patients. </p></div><br>
<div id="Bed">
    <h3 style="color: palevioletred; font-size:2.5rem;">Bed Facility</h3><br>
    <p> hospital bed specially designed for hospitalized patients or others in need of some form of health care. <br>These beds have special features both for the 
comfort and well-being of the patient and for the convenience of health care workers.
    </p></div>
<br>
<div id="Available">
    <h3 style="color: palevioletred; font-size:2.5rem;">Available Hospital</h3><br>
             <p>1. Apollo health city<br>
                2. Kims- Krishna Institute Of Medical Sciences<br>
                2.5. Sunshine hospitals<br>
                4. Continental hospitals<br>
                5. Medicover Hospitals<br></p></div><br>
</section>             
<!--home section ends-->


<section style="height:50%; font-size: 1.8rem;">
<br><div id="Treatment">
    <h3 style="color: palevioletred; font-size:2.5rem;">Take The World's Best Quality Treatment</h3><br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus, quod ex cupiditate ullam in assumenda maiores et culpa odit tempora ipsam qui, quisquam quis facere iste fuga, minus nesciunt.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus vero ipsam laborum porro voluptates voluptatibus a nihil temporibus deserunt vel?</p>
</div><br></section>
<!--about section ends-->


<section style="height:50%; font-size: 1.8rem;">
    <br>
    <div id="Free">
        <h3 style="color: palevioletred; font-size:2.5rem;">Free Checkups</h3><br> 
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus, quod ex cupiditate ullam in assumenda maiores et culpa odit tempora ipsam qui, quisquam quis facere iste fuga, minus nesciunt.</p>
    </div><br>

    <div id="Ambulance">
         <h3 style="color: palevioletred; font-size:2.5rem;">24/7 Ambulance</h3><br> 
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus, quod ex cupiditate ullam in assumenda maiores et culpa odit tempora ipsam qui, quisquam quis facere iste fuga, minus nesciunt.</p>
    </div><br>

    <div id="Expert">
         <h3 style="color: palevioletred; font-size:2.5rem;">Expert Doctors</h3><br> 
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus, quod ex cupiditate ullam in assumenda maiores et culpa odit tempora ipsam qui, quisquam quis facere iste fuga, minus nesciunt.</p>
    </div><br>

    <div id="Medicines">
         <h3 style="color: palevioletred; font-size:2.5rem;">Medicines</h3><br> 
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus, quod ex cupiditate ullam in assumenda maiores et culpa odit tempora ipsam qui, quisquam quis facere iste fuga, minus nesciunt.</p>
    </div><br>

    <div id="Facility">
         <h3 style="color: palevioletred; font-size:2.5rem;">Facility</h3><br> 
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus, quod ex cupiditate ullam in assumenda maiores et culpa odit tempora ipsam qui, quisquam quis facere iste fuga, minus nesciunt.</p>
    </div><br>

    <div id="Room">
        <h3 style="color: palevioletred; font-size:2.5rem;">Emergency Room</h3>
       <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus, quod ex cupiditate ullam in assumenda maiores et culpa odit tempora ipsam qui, quisquam quis facere iste fuga, minus nesciunt.</p>
    </div> <br>

    <div id="Laboratory">
        <h3 style="color: palevioletred; font-size:2.5rem;">Laboratory</h3>
       <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus, quod ex cupiditate ullam in assumenda maiores et culpa odit tempora ipsam qui, quisquam quis facere iste fuga, minus nesciunt.</p>
    </div><br>

    <div id="Vaccination">
        <h3 style="color: palevioletred; font-size:2.5rem;">Vaccination</h3>
       <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus, quod ex cupiditate ullam in assumenda maiores et culpa odit tempora ipsam qui, quisquam quis facere iste fuga, minus nesciunt.</p>
    </div>         
</section>
<!--services section ends-->
{% endblock content %}